/* 
    Created on : Jul 22, 2015, 8:30:19 AM
    Author     : anas
*/

@font-face{
    font-family: asper;
    src:url('../fonts/BebasNeue.otf');
}

@font-face{
    font-family: normal;
    src:url('../fonts/Raleway-Regular.ttf');
}

*{
    font-family: normal;
}



.main{
    position: relative;
    color: #eee;
    height: 100vh;
}

.main h1,.main h2{
    text-align: center;
}

.main h1{
    font-size: 5rem;
    margin:0;
    padding-top: 150px;
}

.overlay,.front,.back{
    position: absolute;
    top:0;
    left:0;
    min-height: 100vh;
    width:100%;
    background-position: fixed;
    background-size: cover;
}
.overlay{

    z-index: -1; 
    background: rgba(0,0,0,.7);
}
.front{
    z-index: -2;
    background-image: url('../images/a1.jpg');
}
.back{
    z-index: -3;
    background-image: url('../images/a2.jpg');
}

.speakers{
    padding:10px;
}

.center{
    text-align: center;
}
.box{
    text-align: center;
}
.box .spk{
    border-radius: 100%;
    display: inline-block;
    height:150px;
    width:150px;
    overflow: hidden;
    margin: 5px;
    position: relative;

}
.box .spk:hover{
    cursor: pointer;
}
.box .spk p{
    position: absolute;
    height:100%;
    width:100%;
    color:#fff;
    z-index: 10;
    text-align: center;
    line-height: 150px;
    font-size: 2rem;
    font-family: normal;
    opacity: 0;
    background: rgba(0,0,0,.4);
}

.socialbuttons{
    text-align: center;
}

.p{
    display: inline-block;
    margin: 0px 5px;
}


a.social{
    background-color: #5e5353;
    -webkit-transition: background-color 0.5s ease;
    -moz-transition: background-color 0.5s ease;
    transition: background-color 0.5s ease;
    height: 50px;
    width:50px;
    display: inline-block;
    border-radius: 100%;
}

a.social:hover{
    background-color: #211f1f;
}

a.social img{
    height:50px;
    width:50px;
}
.footer{
    padding-top: 10px;
}

.footer p{
    font-family: normal;
    text-align: center;
}



.dates{
background: rgba(255,255,255,.6);
box-shadow: 1px 1px 2px rgba(0,0,0,.1);
text-align: center;
padding: 8px;
color:#A5394E;
}

@media screen and (max-width: 400px){


}
